<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>sk-7PlmO_6zgrZjAK-atFxcPIpAWcsciITNkCZ9oKSpVQT3BlbkFJpuZI2O3H55gWtdpnyREMY1FwLRj47Wz_tyBVzhR6UA</string>
</dict>
</plist>
